.card {
  display: inline-block;
  margin: 2px;
  text-align: center;
}

.player {
  padding: 2px;  
  min-height: 250px;
  width:550px;
}

.user {
  background-color: blue;
}

.dealer {
  background-color: red;
}

.spielstand {
	text-align:right;
}