.card {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 2px;
  background-color: green;
  text-align: center;
}

.player {
  height: 100px;
  width: 400px;
  background-color: blue;
  padding: 2px;  
}
#Spielstand {
	text-align:right;
}